<div class="list row">

    <div class="col-md-6">
        <h4>List Person Phone</h4>
        <table class="table">
            <thead>
                <tr>
                <th>phoneNumber</th>
                <th>businessEntityID</th>
                <th>phoneNumberTypeID</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list" >
                    <td>{{ item.phoneNumber }}</td>
                    <td>{{ item.businessEntityID }}</td>
                    <td>{{ item.phoneNumberTypeID }}</td>
                    <td>
                        <a class="btn btn-warning" href="/update/{{ item.businessEntityID }}/{{ item.phoneNumberTypeID }}">
                            Edit
                          </a>

                         
                    </td>
                    <td> <a class="btn btn-danger" href="/delete/{{ item.businessEntityID }}/{{ item.phoneNumberTypeID }}">
                        Delete
                      </a></td>
                </tr>
            </tbody>
        </table>


    </div>
   
</div>